PORT=8000
MONGODB_URI=mongodb+srv://Ashwani:ASHWANI@cluster0.oc5onyz.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET==chai-aur-code
ACCESS_TOKEN_EXPIRES=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRES=7d
